// circle shape
.menu-button {

}

@mixin button-shape(
  $material-hover: true
) {
  display: block;
  width: $burger-button-width;
  height: $burger-button-width;
  margin: $burger-button-margin;
  padding: #{($burger-button-height - $burger-height) / 2} 0 0 #{($burger-button-width - $burger-width) / 2};
  background-color: $burger-button-background;
  border: $burger-button-border;
  border-radius: 50%;
  transition: background-color $animation-time, box-shadow $animation-time $animation-ease;
  -webkit-appearance: none;
  @if $material-hover {
    box-shadow: 0 0 2px rgba(#000000, 0.3);

    &:hover, &:active {
      box-shadow: 0 0 10px rgba(#000000, 0.5);
      background-color: saturate($burger-button-background, 10%);
    }
  }
  @else {
    &:hover, &:active {
      background-color: lighten($burger-button-background, 7%);
    }
  }
  &:focus {
    outline: none;
  }
}