// circle shape
.menu-button {
  display: block;
  width: $link-width;
  height: $link-width;
  padding: #{($link-height - $burger-height) / 2} 0 0 #{($link-width - $burger-width) / 2};
  background-color: $link-background;
  border-radius: 50%;
  transition: background-color 0.25s, box-shadow 0.25s ease-in-out;
  @if $material-hover {
    box-shadow: 0 0 2px rgba(#000000, 0.3);

    &:hover, &:active {
      box-shadow: 0 0 10px rgba(#000000, 0.5);
      background-color: saturate($link-background, 10%);
    }
  }
  @else {
    &:hover, &:active {
      background-color: lighten($link-background, 7%);
    }
  }

  margin: 20px auto; // not needed
}