// burger animation 2
.burger-2 {
  span {
    transition: transform 0.25s, width 0.25s, top 0.25s, left 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;

      body.open-menu & {
        top: #{($burger-height - $line-weight) / 2};
        width: 0;
        left: 50%;
      }
    }
    &:nth-child(2) {
      top: #{($burger-height - $line-weight) / 2};

      body.open-menu & {
        transform: rotate(45deg);
      }
    }
    &:nth-child(3) {
      top: #{($burger-height - $line-weight) / 2};
      body.open-menu & {
        transform: rotate(-45deg);
      }
    }
    &:nth-child(4) {
      top: #{$burger-height - $line-weight};

      body.open-menu & {
        top: #{($burger-height - $line-weight) / 2};
        width: 0;
        left: 50%;
      }
    }
  }
}