@charset "UTF-8";

$link-background  : #f44336;
$link-width       : 40px;
$link-height      : $link-width;

$burger-width     : 22px;
$burger-height    : 16px;
$line-weight      : 2px;
$line-color       : #FFFFFF;

// circle shape
.menu-button {
  display: block;
  width: $link-width;
  height: $link-width;
  padding: #{($link-height - $burger-height) / 2} 0 0 #{($link-width - $burger-width) / 2};
  background-color: $link-background;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;

  &:hover, &:active {
    background-color: lighten($link-background, 7%);
  }

  margin: 20px auto; // not needed
}

// general burger icon
.burger-icon {
  display: block;
  width: $burger-width;
  height: $burger-height;
  position: relative;
  cursor: pointer;

  // general line styles
  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: $line-weight;
    background-color: $line-color;
    opacity: 1;
  }
}

// burger animation 1
.burger-1 {
  span {
    transition: transform 0.25s, opacity 0.25s, left 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;

      body.open-menu & {
        top: #{($burger-height - $line-weight) / 2};
        transform: rotate(135deg);
      }
    }
    &:nth-child(2) {
      top: #{($burger-height - $line-weight) / 2};

      body.open-menu & {
        opacity: 0;
        left: -100%;
      }
    }
    &:nth-child(3) {
      top: #{$burger-height - $line-weight};

      body.open-menu & {
        top: #{($burger-height - $line-weight) / 2};
        transform: rotate(-135deg);
      }
    }
  }
}
