@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700|Roboto+Mono:500);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  color: #37474F;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

header {
  padding-top: 50px;
}

h1, h2, h3, h4 {
  color: #f44336;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-align: center;
  margin: 0 0 0.5em;
}

h3, h4 {
  color: #455A64;
}

h1 {
  font-size: 2.2em;

  .author {
    display: block;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 0.45em;
    font-weight: 400;
    text-transform: uppercase;
  }
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 18px;
  margin: 0 0 1em;
}

a {
  color: #1976D2;
  text-decoration: none;

  &:hover, &:active {
    color: lighten(#1976D2, 15%);
  }

  &:visited {
    color: #607D8B;
  }
}

code {
  display: inline-block;
  padding: 0.1em 0.4em 0.2em;
  margin: 0 0.1em;
  background-color: #E0E0E0;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  color: #455A64;
  font-family: 'Roboto Mono', 'Lucida Console', 'Courier New', monospace;
  font-weight: 500;
  font-size: 0.8em;
}

pre {
  border-left: 2px solid #8BC34A;
  box-shadow: 0 1px 2px rgba(#000000, 0.3);

  code {
    display: block;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 15px;
    font-size: 0.9em;
    line-height: 1.2;
  }
}

small {
  color: lighten(#37474F, 15%);
  font-size: 0.8em;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding-bottom: 30px;
}

.off-canvas {
  position: fixed;
  left: 100%;
  top: 0;
  height: 100%;
  padding: 20px;
  background-color: #37474F;
  transition: transform 0.4s ease-in-out;

  body.open-menu & {
    transform: translateX(-100%);
  }

  a {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  img {
    display: block;
  }
}