@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:700);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: darken(#FFFFFF, 5%);
  color: #37474F;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

header {
  padding-top: 50px;
}

h1, h2, h3, h4 {
  color: #f44336;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-align: center;
  margin: 0 0 0.5em;
}

h3, h4 {
  color: #455A64;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 18px;
  margin: 0 0 1em;
}

small {
  color: lighten(#37474F, 15%);
  font-size: 0.8em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding-bottom: 30px;
}